<ion-content [fullscreen]="true">
  
  <ion-grid class="login-grid-full">

    <!-- IMG LOGO BEGIN -->
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-lg="3" size-md="4" size-sm="6" size="8">
        <ion-img src="../assets/login/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <!-- IMG LOGO END -->

    <!-- BRIEF APP BEGIN -->
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            Aprenda idiomas trocando áudios de no máximo 1 minuto com nativos da língua!
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
    <!-- BRIEF APP END -->

    <!-- TEXT BEGIN -->
    <ion-row>
      <ion-col>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            Registre-se para começar...
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
    <!-- TEXT END -->

    <!-- ICONS SINGE UP BEGIN -->
    <ion-row class="ion-justify-content-around">
      
      <ion-col size-lg="3" size-md="4" size-sm="6" size="3.5">
        <ion-img src="../assets/login/facebook.png"></ion-img>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="6" size="3.5">
        <ion-img src="../assets/login/google.png"></ion-img>
      </ion-col>

      <ion-col size-lg="3" size-md="4" size-sm="6" size="3.5">
        <ion-img src="../assets/login/email.png"></ion-img>
      </ion-col>

    </ion-row>
    <!-- ICONS SINGE UP END -->

    <!-- ICONS LOGIN BEGIN -->
    <ion-row>
      <ion-col>

        <ion-button class="botao-conta" color="#FFFFFF" expand="block">
          Já tenho uma conta
        </ion-button>


      </ion-col>
    </ion-row>
    <!-- ICONS LOGIN BEGIN -->

  </ion-grid>

</ion-content>
